:root{
    /* Font Sizes */
    --font-base: 16px;
    --font-paragraph: 14px;

    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(157, 36%, 20%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Font Family */
    --font-fraunces: 'Fraunces', serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* Paddings */
    --pd-container: 30px 0;
    --pd-article: 19.5px;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cream);
    min-height: 100vh;
    min-width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    max-width: 580px;
    min-height: 80vh;
    padding: var(--pd-container);
}
.section{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    background-color: var(--white);
    overflow: hidden;
}
.figure__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.figure__img--desktop{
    display: none;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--pd-article);
}
.article__paragraph{
    font-family: var(--font-montserrat);
    color: var(--dark-grayish-blue);
}
.article__paragraph--space{
    letter-spacing: 5px;
    font-size: 0.8rem;
}
.article__title{
    font-size: 2rem;
    font-family: var(--font-fraunces);
    line-height: 1;
    color: var(--very-dark-blue);
}
.article__paragraph--line{
    font-size: 0.9rem;
    line-height: 1.5;
}
.article__price{
    display: flex;
    gap: 20px;
    align-items: center;
}
.article-price__paragraph--bold{
    font-size: 2rem;
    font-weight: 900;
    color: var(--dark-cyan);
    font-family: var(--font-fraunces);
}
.article-price__paragraph--line{
    text-decoration: line-through;
    font-size: 0.9rem;
    color: var(--dark-grayish-blue);
    font-family: var(--font-montserrat);
}
.article__button{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-montserrat);
    color: var(--white);
    background-color: var(--dark-cyan);
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
}
.article__button:hover{
    cursor: pointer;
    background-color: var(--very-dark-cyan);
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 0.9rem;
    font-family: var(--font-montserrat);
    background-color: var(--dark-cyan);
    color: var(--white);
    flex-grow: 1;
    padding: 10px;
}
.footer__paragraph{
    line-height: 2;
}
.footer-paragraph__link {
  color: var(--cream)
}

@media screen and (min-width: 1440px){
    .container{
        justify-content: center;
    }
    .section{
        grid-template-columns: 1fr 1fr;
        max-height: 50vh;
    }
    .figure__img--mobile{
        display: none;
    }
    .figure__img--desktop{
        display: block;
    }
    .article{
        --pd-article: 30px;
        padding: var(--pd-article);
        justify-content: space-between;
    }
    .footer{
        height: auto;
    }
}